# Variáveis de Ambiente - Backend

# APP
APP_PORT=3333
NODE_ENV=production

# DATABASE
DATABASE_HOST=db-mysql-sukatech-do-user-30566063-0.h.db.ondigitalocean.com
DATABASE_PORT=25060
DATABASE_NAME=defaultdb
DATABASE_USER=doadmin
DATABASE_PASSWORD=SUA_SENHA_AQUI

# JWT
JWT_SECRET=seu_jwt_secret_muito_seguro_aqui
JWT_EXPIRES_IN=7d
